table.m-2 {
    margin: 3%;
    border-collapse: collapse;
    border-radius: 100px; /* Bordes redondeados */
  }

  table.m-2 th, table.m-2 td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
  }

  table.m-2 th {
   
    color: #fff;
    font-size: 18px; /* Tamaño de letra para los encabezados */
  }

  

  table.m-2 td:nth-child(2) {
    width: 50%;
  }

  .pp{
    margin-left: 15px;
  }