


<div style="display: flex; justify-content: space-between; margin-bottom: 8px;">
  
    <h1>Empresas</h1>
   
    <button type="button" class="btn btn-secondary">Agregar Empresa</button>
  
  </div>
  
         
  <div class="row h-60 ">
                  
    <div class="pp animate__animated animate__fadeIn d-flex h-50 ">            
        <div class="bg-light-soft rounded-4 p-4 mb-4 w-100 h-100">  
  
          <table class="m-2 text-white p-4 mb-4 w-100 h-90">
            <tr >
              <th class=" bg-dark ">Código</th>
              <th class=" bg-dark ">Nombre</th>
              <th class=" bg-dark ">Estatus</th>
            </tr>
            <tr>
              <td>A001</td>
              <td>Producto 1</td>
              <td>Activo</td>
            </tr>
            <tr class=" bg-light-soft ">
              <td>A002</td>
              <td>Producto 2</td>
              <td>Inactivo</td>
            </tr>
            <tr>
              <td>A003</td>
              <td>Producto 3</td>
              <td>Activo</td>
            </tr>
            <tr class=" bg-light-soft ">
              <td>A004</td>
              <td>Producto 4</td>
              <td>Inactivo</td>
            </tr>
            <tr>
              <td>A005</td>
              <td>Producto 5</td>
              <td>Activo</td>
            </tr>
          </table>
                
  
        </div>
    </div>
  
    
  
  
    
  </div>
  
  
  
  
  
  
    
