



    
<div class="side_header animate__animated animate__fadeInLeft">
    <a href="/" class="site_logo">
        <img width="52px" src = "../../assets/images/logo-gray.svg" alt="Sophia"/>
    </a>
    
    <div class="header_btns text-center " >
        <a href="" class="btn btn-ouline-gradient btn-sm mb-4 font-segoe">Empresas</a>
        <a href="" class="btn btn-ouline-gradient btn-sm mb-4 font-segoe">Membresías</a>
        <a href="" class="btn btn-ouline-gradient btn-sm font-segoe">Usuarios</a>
    </div>

           

</div>
